# Python 2nd Class

In [1]:
notes = 5
i = 1
j = 1

while i < notes:
    print(i)
    i += 1
    
else:
    while j<2:
        print(i)
        j += 1
    print('\nNo 10rs notes are available')

1
2
3
4
5

No 10rs notes are available

In [5]:
s = 'My Name is Eric'
s

'My Name is Eric'

In [3]:
s[0]   # Finding letter in the 0 position.

'M'

In [6]:
s[3]   # Finding letter in the 3 position.

'N'

In [7]:
s[8]    # Finding letter in the 8 position.

'i'

In [18]:
s[3:10]   # Entering numbers starting from 3rd position till the 10th position

'name is'

In [22]:
s[3:10:1]   # Entering numbers starting from 3rd position till the 10th position with jump 1

'name is'

In [8]:
s[3:10:2]   # Entering numbers starting from 3rd position till the 10th position with jump 2

'Nm s'

In [10]:
s[10:2:-1]    # Entering numbers starting from 10th position till the 3rd position with jump 1 in reverse order.

' si emaN'

In [11]:
s[::-1]       # Entering numbers starting from last position till the 1st position with jump 1 in reverse order.

'cirE si emaN yM'

In [12]:
s[::-2]      # Entering numbers starting from last position till the 1st position with jump 2 in reverse order.

'cr iea M'

In [13]:
s[::-1]

'cirE si emaN yM'

In [14]:
s[2:-6]      # Entering numbers starting from 2nd position till the position of -6 in reverse order.

' Name i'

In [15]:
s = 'Eric'

In [16]:
s[-1]

'c'

In [17]:
s[-2]

'i'

In [18]:
s = 'my name is rahul'

In [19]:
s[::]

'my name is rahul'

In [20]:
s[2:-6]

' name is'

In [21]:
s[2:-6:2]

' aei'

In [22]:
s[2:-6:-2]

''

In [53]:
s

'my name is rahul'

In [33]:
# for loop

for i in s:
    if i == 's':
        print('\n\ti got s as a string\n')
    print(i)

m
y

n
a
m
e

i

	i got s as a string

s

r
a
h
u
l

In [35]:
# Using break statements

for i in s:
    if i == 'n':
        break
    print(i)
    
else:
    if i == 'u':
        print('Last character was u')
    print('This is a else condition')

m
y

In [38]:
# Using Continue Statement

for i in s:
    if i=='n':
        continue
    print(i)
else:
    if i=='l':
        print('\nLast character was l\n')
    print('This is a else condition')

m
y

a
m
e

i
s

r
a
h
u
l

Last character was l

This is a else condition

In [44]:
# Using range function

s = 'ineuron'
ss=''

for i in range(len(s)):
    if s[i] =='n':
        continue
    else:
        ss = ss+s[i]
        print(ss)

i
ie
ieu
ieur
ieuro

In [45]:
ss

'ieuro'

In [69]:
len(s)   # Length of the string

7

In [2]:
# Make right angled triangle.

n=7

for i in range(0,n):             # Enter the number of rows
    for j in range(0,i+1):
        print("+", end = " ")
    print()       # r means the string will be treated as raw string.

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [134]:
# Triangle 2

n=9

for i in range(0,n):          # Enters the number of rows
    for j in range(0,i):        
         print('*', end=' ')
    print('\r')               # r means the string will be treated as raw string.

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [72]:
for i in range(8,0,-1):      # range(start, stop, step)
    print(i)

8
7
6
5
4
3
2
1

In [102]:
for i in range(5,-1,-1):      # range(start, stop, step)
    print(i)

5
4
3
2
1
0

In [101]:
for i in range(0,6):      # range(start, stop, step)
    print(i)

0
1
2
3
4
5

In [4]:
num = 5
m = 2 * num - 2
print(m)

for i in range(num,-1,-1):    # This Enters the number of rows.
    for j in range(m,0,-1):
        print(end = " ")     # This ends the output with a <space>
    m = m + 1
    for j in range(0,i+1):
        print("*",end = " ")
    print("")

8
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [9]:
num = int(input("Enter the number of rows: "))

for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end = ' ')
    for j in range(0,i):
        print('*',end=" ")
    print()

Enter the number of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [5]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1

In [10]:
n= int(input('Enter number of row required: '))

for i in range(n,0,-1):
    for j in range(n-i):
        print('',end='')
        
    for j in range(2*7-1):
        print('*',end=' ')
    print('\r')

Enter number of row required: 7
* * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *

In [18]:
for i in range(3,0,-1):
    for j in range(3):
        print('*', end='\n')

*
*
*
*
*
*
*
*
*

In [29]:
n=3

for i in range(n,0,-1):
    for j in range(n-i):
        print(end='   ')
        
    for j in range(2*i-1):
        print(' * ',end='')
    print('\n')

 *  *  *  *  *

    *  *  *

       *

In [34]:
n=9
i=0
while i<n:
    print(n-i-1)
    print('  ' * (n-i-1) + '  *  ' * (i+1))
    i += 1

8
                  *
7
                *    *
6
              *    *    *
5
            *    *    *    *
4
          *    *    *    *    *
3
        *    *    *    *    *    *
2
      *    *    *    *    *    *    *
1
    *    *    *    *    *    *    *    *
0
  *    *    *    *    *    *    *    *    *

## List

In [12]:
l=list()

In [13]:
name='rahul'
phon= 464545
add='dasda'

name, phon, add = 'rahul' , 464545, 'dasda'

In [40]:
# List inside a List

l=['rahul', 45646, 'xaax', True, 32+8j, 'das', [3,4,5,'sda'],6.454]

In [43]:
for i in range(4,10):
    print(i)
list(range(10))

4
5
6
7
8
9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
l=['rahul', 45646, 'xaax', True, 32+8j, 'das', [3,4,5,'sda'],6.454]

for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'float'>

In [44]:
range(20)

range(0, 20)

In [37]:
l=['rahul', 45646, 'xaax', True, 32+8j, 'das', [3,4,5,'sda'],6.454]

for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [38]:
l=['rahul', 45646, 'xaax', True, 32+8j, 'das', [3,4,5,'sda'],6.454]

for i in l:
    if type(i) == list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
            print(n)
            
            print(type(j))

3
<class 'int'>
7
<class 'int'>
12
<class 'int'>
12
<class 'str'>

In [35]:
l[0:5]

['rahul', 45646, 'xaax', True, (32+8j)]

In [39]:
l[80:3:-1]

[6.454, [3, 4, 5, 'sda'], 'das', (32+8j)]

In [28]:
l

['rahul', 45646, 'xaax', True, (32+8j), 'das', [3, 4, 5, 'sda'], 6.454]

In [16]:
l[0]

'rahul'

In [17]:
l[2]

'xaax'

In [18]:
l

['rahul', 45646, 'xaax']

In [19]:
type(l)

list

In [21]:
type(l1)

list

In [22]:
l2 = list()
type(l2)

list

In [45]:
len(l)

8

In [43]:
string='rahul'
for i in string:
    print(i,end = ' ')

r a h u l

In [47]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
range(0,10)

range(0, 10)

In [64]:
list=[1,2,3,4]
list[0:2]

[1, 2]

In [69]:
l1=[1,2,3]

In [70]:
l1

[1, 2, 3]

In [45]:
# Using if, elif function and (and) operator

a=10
b=20

if a == 10 and b > 20:
    print('This is valid statement')

elif a == 10 and b <= 20:
    print('This is valid inside elif')
else:
    print('Condition not valid')

This is valid inside elif

In [40]:
a == 10

True

In [41]:
b == 20

True

In [43]:
a == 10 and b > 20

False

In [47]:
a = str(input('Enter first name: ').title())
b = str(input('Enter last name: ').title())

if a == 'Michael' and b=='Jackson':
    print('\nThis is my correct name')
    
elif a == 'Jackson' or b == 'Michael':
    print('\nThis also is correct')
    
else:
    print('\nThe name inserted is wrong')

Enter first name: michael
Enter last name: jackson

This is my correct name

In [52]:
a = 10 
b = 20

if a==10: 
    print('This is valid\n') 
    if b==20: 
        print('dw')

This is valid

dw

In [54]:
# while loop

intial_speed = 0
final_speed = 100
count = 1

while intial_speed < final_speed:
    print('speed')
    count = count+1
    if count == 5:
        break

speed
speed
speed
speed

In [56]:
i=1
j=5

while i <= j:
    print(i)
    i += 1

1
2
3
4
5

In [57]:
a = 0
b = 100
count = 1

while a < b:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99