# My Sql 1st Lecture

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rahul\anaconda3\lib\site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\rahul\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.0)
Requirement already satisfied: six>=1.9 in c:\users\rahul\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

## Check if the connection is established

In [61]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql-098",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('bbm',), ('information_schema',), ('mysql',), ('performance_schema',), ('pubad',), ('rahul',), ('sakila',), ('sys',), ('test1',), ('test123456',), ('world',)]

In [1]:
import mysql.connector as connection

In [4]:
conn = connection.connect(host = "localhost", user = "root", passwd = "mysql-098", use_pure=True)

In [5]:
cur = conn.cursor()

In [6]:
cur.execute('show databases')

In [7]:
res = cur.fetchall()

In [8]:
res

[('d_tableau',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sun',)]

In [9]:
res[1][0]

'information_schema'

In [10]:
for i in res:
    print(i[0])

d_tableau
information_schema
mysql
performance_schema
sun

## Creating a data base

In [ ]:
#Creating a data base

import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql-098",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    
    query = "Create database Student"
    cursor = mydb.cursor(query)
    cursor.execute(query)
    print('Database Created! ')
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

## Creating a Table in the database

In [ ]:
#Creating a Table in the database

import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql-098",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [17]:
mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql-098",use_pure=True)

In [5]:
mydb.is_connected()

True

In [6]:
cur = mydb.cursor()
cur.execute('create table test(x1 INT(5), x2 VARCHAR(20), x3 DATE)')
mydb.close()

ProgrammingError: 1050 (42S01): Table 'test' already exists

## Inserting values into a table

In [78]:
#Inserting values into a table
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql-098",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1132','Sachin','Kumar','1997-11-11','Eleventh','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [32]:
mydb = connection.connect(host="localhost", database = 'Student',user="root", passwd="mysql-098",use_pure=True)

In [33]:
mydb.is_connected()

True

In [34]:
cur = mydb.cursor()

In [35]:
cur.execute("insert into test values(4545, 'abcd', '2021-05-21' )") #yyyy-mm-dd

In [36]:
mydb.commit()

In [37]:
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")

In [38]:
mydb.commit()

In [39]:
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")
cur.execute("insert into test values(45455, 'asdfabcd', '2021-05-21' )")

In [40]:
mydb.commit()

## Select from Database

In [ ]:
#Select from Database

import mysql.connector as connection


try:
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql-098",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection


except Exception as e:
    #mydb.close()
    print(str(e))

In [41]:
cur1 = mydb.cursor()
out = cur1.execute("select * from test")

In [11]:
type(out)

NoneType

In [42]:
for i in cur1.fetchall():
    print(i[0])

4545
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
4545
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
4545
45455
4545
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
4545
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455
45455

In [18]:
cur = mydb.cursor()
cur.execute("select x1, x2 from test")

In [19]:
for i in cur.fetchall():
    print(i)

(4545, 'abcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(4545, 'abcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(4545, 'abcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')
(45455, 'asdfabcd')

## Select into dataframe

In [ ]:
#select into dataframe

import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='GlassData', user="root", passwd="mysql-098", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

In [43]:
import pandas as pd

In [44]:
mydb

In [46]:
a = pd.read_sql("select x1,x2,x3,x1 from Student.test",mydb)

In [47]:
a

       x1        x2          x3     x1
0    4545      abcd  2021-05-21   4545
1   45455  asdfabcd  2021-05-21  45455
2   45455  asdfabcd  2021-05-21  45455
3   45455  asdfabcd  2021-05-21  45455
4   45455  asdfabcd  2021-05-21  45455
..    ...       ...         ...    ...
61  45455  asdfabcd  2021-05-21  45455
62  45455  asdfabcd  2021-05-21  45455
63  45455  asdfabcd  2021-05-21  45455
64  45455  asdfabcd  2021-05-21  45455
65  45455  asdfabcd  2021-05-21  45455

[66 rows x 4 columns]

In [48]:
a.to_csv('mydata.csv')

In [49]:
mydb = connection.connect(host="localhost", database='Student', user="root", passwd="mysql-098", use_pure=True)
mydb

In [50]:
cur = mydb.cursor()
cur.execute('create table mydata(n1 int(20), n2 varchar(20), n3 date)')

In [51]:
data = pd.read_csv('mydata.csv')
data

    Unnamed: 0     x1        x2          x3   x1.1
0            0   4545      abcd  2021-05-21   4545
1            1  45455  asdfabcd  2021-05-21  45455
2            2  45455  asdfabcd  2021-05-21  45455
3            3  45455  asdfabcd  2021-05-21  45455
4            4  45455  asdfabcd  2021-05-21  45455
..         ...    ...       ...         ...    ...
61          61  45455  asdfabcd  2021-05-21  45455
62          62  45455  asdfabcd  2021-05-21  45455
63          63  45455  asdfabcd  2021-05-21  45455
64          64  45455  asdfabcd  2021-05-21  45455
65          65  45455  asdfabcd  2021-05-21  45455

[66 rows x 5 columns]

In [54]:
data.to_sql('mydata', mydb)

C:\Users\Rahul\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

Create an in-memory SQLite database.

>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite://', echo=False)

Create a table from scratch with 3 rows.

>>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
>>> df
     name
0  User 1
1  User 2
2  User 3

>>> df.to_sql('users', con=engine)
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

An `sqlalchemy.engine.Connection` can also be passed to to `con`:
>>> with engine.begin() as connection:
...     df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
...     df1.to_sql('users', con=connection, if_exists='append')

This is allowed to support operations that require that the same
DBAPI connection is used for the entire operation.

>>> df2 = pd.DataFrame({'name' : ['User 6', 'User 7']})
>>> df2.to_sql('users', con=engine, if_exists='append')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
 (0, 'User 4'), (1, 'User 5'), (0, 'User 6'),
 (1, 'User 7')]

Overwrite the table with just ``df2``.

>>> df2.to_sql('users', con=engine, if_exists='replace',
...            index_label='id')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 6'), (1, 'User 7')]

Specify the dtype (especially useful for integers with missing values).
Notice that while pandas is forced to store the data as floating point,
the database supports nullable integers. When fetching the data with
Python, we get back integer scalars.

>>> df = pd.DataFrame({"A": [1, None, 2]})
>>> df
     A
0  1.0
1  NaN
2  2.0

>>> from sqlalchemy.types import Integer
>>> df.to_sql('integers', con=engine, index=False,
...           dtype={"A": Integer()})

>>> engine.execute("SELECT * FROM integers").fetchall()
[(1,), (None,), (2,)]
File:      c:\users\rahul\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method

## Insert from a File

In [55]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql-098",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="mysql-098", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):          # Enumerator returns indeex of the data
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'glassdata'; database exists

In [1]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'glass.data' , user="root", passwd="mysql-098",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Select * from glass.data"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close()#close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

1049 (42000): Unknown database 'glass.data'

In [54]:
import mysql.connector as connection
import pandas as pandas

try:

    mydb = connection.connect(host="localhost", database='GlassData', user="root", passwd="mysql-098", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from GlassData;"
    result_dataFrame = pandas.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

1049 (42000): Unknown database 'glassdata'

In [90]:
pwd()

'C:\\Users\\Rahul\\ineuron'

Task:

https://archive.ics.uci.edu/ml/datasets/Carbon+Nanotubes