# MongoDB

In [1]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\rahul\anaconda3\lib\site-packages (3.11.4)

In [2]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\rahul\anaconda3\lib\site-packages (3.11.4)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0; extra == "srv" in c:\users\rahul\anaconda3\lib\site-packages (from pymongo[srv]) (1.16.0)

### 1) Create a DB

Connectivity

In [19]:
import pymongo
client_cloud = pymongo.MongoClient("mongodb+srv://test:test@cluster0.5rfxb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
client_cloud.test

Database(MongoClient(host=['cluster0-shard-00-02.5rfxb.mongodb.net:27017', 'cluster0-shard-00-01.5rfxb.mongodb.net:27017', 'cluster0-shard-00-00.5rfxb.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-psso0c-shard-0', ssl=True), 'test')

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### 2) Creating a DataBase

Database Creation

In [20]:
# Creating a DataBase
db_1 = client_cloud['rahul_kb']

In [27]:
client.list_database_names()     # For Local MongoDB Compass

['admin', 'config', 'local', 'rahul_kb', 'sudhanshu_kumar']

In [25]:
client_cloud.list_database_names()     # For MogoDB Atlas

['rahul_kb', 'admin', 'local']

### 3) Write data into Database

Collection

This is called as Collection in MongoDB in MySQL it is Schema

In [22]:
collection = db_1['test']
collection

Collection(Database(MongoClient(host=['cluster0-shard-00-02.5rfxb.mongodb.net:27017', 'cluster0-shard-00-01.5rfxb.mongodb.net:27017', 'cluster0-shard-00-00.5rfxb.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-psso0c-shard-0', ssl=True), 'rahul_kb'), 'test')

### 4) Insert a record in the collection

In [30]:
record = {'comapnyname' : 'ineuron', 
          'product' : 'affordable AI', 
          'record_dic' : {'name':'rahulkb', 'mailid':'rahul@gmail'},
         'record_dict' : {"name" : "rocky", "mail_id": "rocky@outlook.com", "ph_no": 987456321}}

In [31]:
collection.insert_one(record)

**Copy Entire data from the Atlas Collection using copy option**

In [ ]:
{"_id":{"$oid":"610263614cc7a8d7e8fd9792"},"comapnyname":"ineuron","product":"affordable AI","record_dic":{"name":"rahulkb","mailid":"rahul@gmail"},"record_dict":{"name":"rocky","mail_id":"rocky@outlook.com","ph_no":{"$numberInt":"987456321"}}}

In [32]:
import pymongo
#client = pymongo.MongoClient("mongodb://localhost:27017/")
client_cloud = pymongo.MongoClient("mongodb+srv://test:test@cluster0.5rfxb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db_1 = client_cloud["RKB"]
collection = db_1["test"]
record = {'companyName': 'iNeuron',
         'product': 'Affordable AI',
         'courseOffered': 'Deep Learning for Computer Vision',
         'name' : ["sudhan","kumar",5466],
         "record_dict" :{"name" :"sudhanshu" , "mail_id" : "sudhanshu@fadfsaf.ai","ph_number" :543535}}


collection.insert_one(record)

### 5) Insert Multiple Record

In [37]:
import pymongo
#client = pymongo.MongoClient("mongodb://localhost:27017/")
client_cloud = pymongo.MongoClient("mongodb+srv://test:test@cluster0.5rfxb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db_1 = client_cloud["RKB"]
collection = db_1["test"]
list_of_records = [{'companyName': 'iNeuron',
         'product': 'Affordable AI',
         'courseOffered': 'Deep Learning for Computer Vision',
         'name' : ["sudhan","kumar",5466],
         "record_dict" :{"name" :"sudhanshu" , "mail_id" : "sudhanshu@fadfsaf.ai","ph_number" :543535}},

        {'companyName': 'SLack',
         'product': 'Affordable AI',
         'courseOffered': 'Computer Vision',
         'name' : ["sudhan","kumar",5466],
         "record_dict" :{"name" :"sudhanshu" , "mail_id" : "sudhanshu@fadfsaf.ai","ph_number" :543535}},
    
        {'companyName': 'Boston',
         'product': 'Affordable AI',
         'courseOffered': 'NLP',
         'name' : ["sudhan","kumar",5466],
         "record_dict" :{"name" :"sudhanshu" , "mail_id" : "sudhanshu@fadfsaf.ai","ph_number" :543535}}]

rec = collection.insert_many(list_of_records)

In [44]:
# Lets print the unique ids that we have inserted

inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}.{unique_ids}")

0.610268854cc7a8d7e8fd979e
1.610268854cc7a8d7e8fd979f
2.610268854cc7a8d7e8fd97a0

In [40]:
collection = db_1['test1']
list_of_records = [
    {
        'name':'Apple',
        'ph_no':987654321,
        'Address':'Navi Mumbai'},
    
    {
        'Book':"The Lexicon",
        'Pages':500,
        'Ratings':5
    },
    
    {
        'Computer':"mac",
        'Year':2020,
        "Rating":10
    }
]

collection.insert_many(list_of_records)

You can override the default unique Id by giving a user defined as shown below -

In [54]:
import pymongo
#client = pymongo.MongoClient("mongodb://localhost:27017/")
client_cloud = pymongo.MongoClient("mongodb+srv://test:test@cluster0.5rfxb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db_1 = client_cloud["RKB"]
collection = db_1['test1']

list_of_records_user_defined_id = [
    {"_id": "60",
    "companyName": "iNeuron",
    "Faculty": "Sudhanshu Kumar"},
    {"_id": "80",
    "companyName": "iNeuron",
    "Faculty": "Virat Sagar"}
]

collection.insert_many(list_of_records_user_defined_id)

In [57]:
collection.find_one()

{'_id': ObjectId('61026b154cc7a8d7e8fd97a1'),
 'name': 'Apple',
 'ph_no': 987654321,
 'Address': 'Navi Mumbai'}

In [63]:
for i in collection.find():
    print(i)

{'_id': ObjectId('61026b154cc7a8d7e8fd97a1'), 'name': 'Apple', 'ph_no': 987654321, 'Address': 'Navi Mumbai'}
{'_id': ObjectId('61026b154cc7a8d7e8fd97a2'), 'Book': 'The Lexicon', 'Pages': 500, 'Ratings': 5}
{'_id': ObjectId('61026b154cc7a8d7e8fd97a3'), 'Computer': 'mac', 'Year': 2020, 'Rating': 10}
{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': '8', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}
{'_id': '60', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': '80', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [109]:
COLLECTION_NAME = "iNeuron_Faculties"
faculties = db_1[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"id": "68",
    "companyName": "iNeuron",
    "Faculty": "Sudhanshu Kumar"},
    {"id": "88",
    "companyName": "iNeuron",
    "Faculty": "Virat Sagar"},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

In [110]:
for i in faculties.find():
    print(i)

{'_id': ObjectId('610290724cc7a8d7e8fd97b2'), 'id': '68', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': ObjectId('610290724cc7a8d7e8fd97b3'), 'id': '88', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [111]:
# find all the record at once present in the record with SPECIFIC fields
all_record = faculties.find({}, {"Faculty"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': ObjectId('610290724cc7a8d7e8fd97b2'), 'Faculty': 'Sudhanshu Kumar'}
1: {'_id': ObjectId('610290724cc7a8d7e8fd97b3'), 'Faculty': 'Virat Sagar'}

### 6) Query or filter out data in MongoDB

In [73]:
for i in faculties.find({'_id': '6'}):
    print(i)

{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

In [74]:
for i in faculties.find({'Faculty': 'Sudhanshu Kumar'}):
    print(i)

{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': '68', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': ObjectId('61026fda4cc7a8d7e8fd97aa'), 'id': '68', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': ObjectId('610271284cc7a8d7e8fd97ac'), 'id': '68', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

In [101]:
for i in faculties.find({'_id': {'$gt':'1'}}):       # $gt = Greater Than in MongoDB
                                                     # $gte = Greater than or equal to
    print(i)

{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

In [102]:
query1 = {'_id' : '1'}

results =faculties.find(query1)

for i in faculties.find():
    print(i)

{'_id': '6', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': ObjectId('61026fda4cc7a8d7e8fd97aa'), 'id': '68', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': ObjectId('61026fda4cc7a8d7e8fd97ab'), 'id': '88', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}
{'_id': ObjectId('610271284cc7a8d7e8fd97ac'), 'id': '68', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': ObjectId('610271284cc7a8d7e8fd97ad'), 'id': '88', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}
{'_id': ObjectId('61028dec4cc7a8d7e8fd97ae'), 'id': '68', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': ObjectId('61028dec4cc7a8d7e8fd97af'), 'id': '88', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

### 7) Delete one or many documents in MongoDB

In [107]:
faculties.delete_many({'id':{'$gte':'68'}})

### 8) Drop an Entire Collection

In [108]:
faculties.drop()

### 9) Update

In [113]:
present_data = {'id': '68'}

In [116]:
new_data = {'$set':{'id': '789456123'}}

In [117]:
faculties.update_many(present_data, new_data)

all_record = faculties.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('610290724cc7a8d7e8fd97b2'), 'id': '789456123', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

{'_id': ObjectId('610290724cc7a8d7e8fd97b3'), 'id': '88', 'companyName': 'iNeuron', 'Faculty': 'Virat Sagar'}

### 10) Set limit to view N records

In [119]:
N_records = 1

N_record = faculties.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")

{'_id': ObjectId('610290724cc7a8d7e8fd97b2'), 'id': '789456123', 'companyName': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}