# Python 1st Lecture Notes

In [43]:
# Assigning Strings to variables.

name = 'Eric'
user_id = 'eric_bit'
password = '123456'
mail = 'eric@gmail.com'

In [4]:
#Type

a = 5
type(a)

int

In [118]:
#Boolean

b = True
c = False

In [120]:
type(b)

bool

In [122]:
print(True + True + True + False + True)

print(False-True+True)

4
0

In [125]:
True-False  # Booelan Operations

1

In [126]:
True*False    # Booelan Operations

0

In [131]:
False/True    # Booelan Operations

0.0

In [153]:
n + m + f

(146+468j)

In [154]:
n * m * f

(-164556+1159974j)

In [30]:
a,print

(23, <function print>)

In [165]:
'4' + 'wded'  # String Addition

'4wded'

In [167]:
1+1.2333  # Addition

2.2333

In [168]:
type(2.2333)

float

In [28]:
type(2+3j)

complex

In [173]:
'sada'+'sdad'+'dsad'    # String Addition

'sadasdaddsad'

In [49]:
' asdas ' * 9    # String Multiplication

' asdas  asdas  asdas  asdas  asdas  asdas  asdas  asdas  asdas '

In [44]:
user_id    # defined Function calling

'eric_bit'

In [8]:
a = 'sasa'
a

'sasa'

In [182]:
'2+3j'  # Complex function

'2+3j'

In [183]:
type('2+3j')

str

In [188]:
str('asds')

'asds'

In [189]:
type('asds')

str

In [37]:
a=input()
a
type(a)

abcd

str

In [35]:
# Multiplication Operation

a = int(input())
b = int(input())
c = int(input())

print(a * b) 
o = (a+b)/c
o1 = o + 78+6j
str(o1) + ' Eric'

18
19
20
342

'(79.85+6j) Eric'

In [11]:
# Taking Input from user

a=int(input())
b=int(input())
c=int(input())
o=a+b/c
o1=o+78+6j
str(o1)+' Eric'

8
8
8

'(87+6j) Eric'

In [18]:
type('sas')

str

In [27]:
type('fg43')

str

In [26]:
# Task 1

a=int(input('Input a number lesser than 34: '))

if a <= 34:
    pass
    print('\nI am fine with the answer')
    
elif a <= 100:
    print('\nMy data is lesser than 100')
    
else:
    print('\nUser input is out of range.')

Input a number lesser than 34: 23

I am fine with the answer

In [22]:
# Task 2

salary=int(input('Enter your salary: Rs '))

if salary > 1000:
    print('Your salary is good')
    if salary > 5000 and salary <= 10000:
        print('Buy a nano car')
        if True:
            print('false code')
            
    elif salary > 10000:
        print('I will go for maruti')
        
    elif salary > 50000:
        print('I will go for toyota')
        
    else:
        print('I will rent a car')
        
elif salary > 500:
    print('I will go for bike')
    
elif salary > 100:
    print('I will not buy any thing')
    
else:
    print('\nI will go for saving')

Enter your salary: Rs 99

I will go for saving

In [7]:
# Simple Operations

a=int(input())
b=int(input())
c=int(input())
o=(a+b/c)
o1=(o+78+6j)
print(str(o1) + ' Rahul')

5
5
5
(84+6j) Rahul