# 3rd Lecture

In [2]:
a='rahul'

In [3]:
b='rahul'

In [4]:
a

'rahul'

In [5]:
b

'rahul'

In [1]:
# Using the right syntax

c = "This is my class for full class data science, that's why i have joined the class"
c

"This is my class for full class data science, that's why i have joined the class"

In [2]:
a = 'this is full stack class'

a[0]     # If you want to know the 1st element

't'

In [3]:
a = 'this is full stack class'

a[-1]    # When you dont know the last element

's'

In [14]:
a[100]   # When the string index out of range

IndexError: string index out of range

In [4]:
a = 'this is full stack class'

len(a)               # Finding the length of the string

24

In [5]:
a = 'this is full stack class'

a[4:10]

' is fu'

In [6]:
a = 'this is full stack class'

a[4:10:1]

' is fu'

In [7]:
a = 'this is full stack class'

a[-1:-10:-1]

'ssalc kca'

In [12]:
a = 'this is full stack class'

a[-1:-10:1]            # Returns null value when the jump is wrong

''

In [2]:
a = 'this is full stack class'

for i in a:
    print(i, end = '')

this is full stack class

In [13]:
a = 'this is full stack class'

for i in range(len(a)):
    print(a[i])

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [14]:
a = 'this is full stack class'

for i in range(len(a)):
    print(a[-i])

t
s
s
a
l
c

k
c
a
t
s

l
l
u
f

s
i

s
i
h

In [15]:
a = 'this is full stack class'

a[::-1]

'ssalc kcats lluf si siht'

In [3]:
l=['sasa',234,234.42,True]

l[0]='rahul'

In [17]:
l=['sasa',234,234.42,True]

l

['sasa', 234, 234.42, True]

String is immutable, list is mutable object

Mutable means replacement

In [18]:
a='this is full stack class'
a

'this is full stack class'

In [4]:
a= 'abcde'
a[::-2]

'eca'

In [44]:
'rahul'+ 'kb'

'rahulkb'

Concatination operation

In [21]:
'rahul' + '3'

'rahul3'

In [22]:
'rahul' + str(3)

'rahul3'

In [20]:
' rahul ' * 6

' rahul  rahul  rahul  rahul  rahul  rahul '

In [50]:
'rahul'+['rahul',23,32]

TypeError: can only concatenate str (not "list") to str

In [23]:
a.find('s')

3

In [53]:
a.find('t')

0

In [56]:
a.find('f')

8

In [28]:
a = 'this is full stack class'
a.find('ss')

22

In [59]:
a.find('this')

0

In [69]:
a = 'my name is rahul, name of org is ineuron'
b = a.find('name')

for i in range(len('name')):
    print(b+i)

3
4
5
6

In [72]:
a = 'my name is rahul, name of org is ineuron'
b = a.find('name')

for i in range(len('name is')):
    print(b+i)

3
4
5
6
7
8
9

In [74]:
a.count('name')

2

In [75]:
a.count('my')

1

In [79]:
a.split()

['my', 'name', 'is', 'rahul,', 'name', 'of', 'org', 'is', 'ineuron']

In [80]:
a.split(',')  # Return a list of the words in the string, using sep as the delimiter string.

['my name is rahul', ' name of org is ineuron']

In [81]:
a.split('name')

['my ', ' is rahul, ', ' of org is ineuron']

In [82]:
a.split('n')

['my ', 'ame is rahul, ', 'ame of org is i', 'euro', '']

In [83]:
a.split('na')

['my ', 'me is rahul, ', 'me of org is ineuron']

In [84]:
type(a.split())

list

In [86]:
a.upper()

'MY NAME IS RAHUL, NAME OF ORG IS INEURON'

In [87]:
a.lower()

'my name is rahul, name of org is ineuron'

In [90]:
a.swapcase()        # Convert uppercase characters to lowercase and lowercase characters to uppercase

'MY NAME IS RAHUL, NAME OF ORG IS INEURON'

In [30]:
' '.join(a)

't h i s   i s   f u l l   s t a c k   c l a s s'

In [93]:
'a'.join(a)

'maya anaaamaea aiasa araaahauala,a anaaamaea aoafa aoaraga aiasa aianaeauaraoan'

In [94]:
reversed(a)  # Return a reverse iterator over the values of the given sequence.

In [95]:
a[::-1]

'norueni si gro fo eman ,luhar si eman ym'

In [97]:
list(reversed(a))

['n',
 'o',
 'r',
 'u',
 'e',
 'n',
 'i',
 ' ',
 's',
 'i',
 ' ',
 'g',
 'r',
 'o',
 ' ',
 'f',
 'o',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 ',',
 'l',
 'u',
 'h',
 'a',
 'r',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [98]:
for i in reversed(a):
    print(i)

n
o
r
u
e
n
i

s
i

g
r
o

f
o

e
m
a
n

,
l
u
h
a
r

s
i

e
m
a
n

y
m

In [35]:
a = 'ra hul '

In [36]:
a.strip()

'ra hul'

In [37]:
a.strip()

'ra hul'

In [38]:
a.lstrip()

'ra hul '

In [39]:
a.rstrip()

'ra hul'

In [107]:
a = 'greeting from ineuron'

In [108]:
a.replace('g','s')  # Return a copy with all occurrences of substring old replaced by new.

'sreetins from ineuron'

In [109]:
a.replace('gr','sdad')

'sdadeeting from ineuron'

In [110]:
a

'greeting from ineuron'

In [40]:
a = a.replace('g','r')

In [112]:
a

'rreetinr from ineuron'

In [41]:
a = 'rahul'

In [42]:
a.replace('r','l')

'lahul'

In [43]:
a

'rahul'

In [119]:
a[1]

'a'

In [120]:
a='rahul'

In [44]:
a.center(21,'h')     # Return a centered string of length width.

'hhhhhhhhrahulhhhhhhhh'

In [124]:
a.center(78,' ')

'                                    rahul                                     '

In [125]:
a.center(20,'#')

'#######rahul########'

In [129]:
a = 'rahul\tbasavaraj\tk'

In [130]:
a

'rahul\tbasavaraj\tk'

In [131]:
a.expandtabs()  # Return a copy where all tab characters are expanded using spaces.

'rahul   basavaraj       k'

In [3]:
a = 'we all are part of Full Stack'

In [4]:
a.lower()

'we all are part of full stack'

In [5]:
a.count('a')

4

In [6]:
a.replace('a','ineuron')

'we ineuronll ineuronre pineuronrt of Full Stineuronck'

In [46]:
a = 'we all are part of full stack'
b = a.find('a')

for i in range(len(a)):
    if(a[i]=='a'):
        print(i)

3
7
12
26

In [140]:
a.split()

['we', 'all', 'are', 'part', 'of', 'Full', 'Stack']

In [5]:
a = "we all are a part of Full Stack"

# Normalize all one string in lower case

b = a.lower()
print(b)

# Find number of occurances of 'a' in entire data

c = a.count('a')
print('\nThe count of a is ' + str(c) + '\n')

# Find all the location/index of 'a' in string

for i in range(len(a)):
    if(a[i]=='a'):
        print(i)
        
# replace all the 'a' with 'ineuron'

d = a.replace('a','ineuron')
print('\n' + d + '\n')

#Print all the word as a list.

e = a.split()
print(e)

we all are a part of full stack

The count of a is 5

3
7
11
14
28

we ineuronll ineuronre ineuron pineuronrt of Full Stineuronck

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [58]:
a='rahul'

In [7]:
a.isupper()  # Return True if the string is an uppercase string, False otherwise.

False

In [9]:
a.islower()  # Return True if the string is a lowercase string, False otherwise.

True

In [57]:
a.isspace()  # Return True if the string is a whitespace string, False otherwise.

False

In [13]:
a = ' '

In [14]:
a.isspace()

True

In [15]:
a.isdigit()   # Return True if the string is a digit string, False otherwise.

False

In [59]:
a = '2313'

In [60]:
a.isdigit()

True

In [23]:
a = 'rahul'

In [25]:
a.endswith('l')   # Return True if S ends with the specified suffix, False otherwise.

True

In [26]:
a.startswith('r')  # Return True if S starts with the specified prefix, False otherwise.

True

In [27]:
a.isalnum()   # Return True if the string is an alpha-numeric string, False otherwise.

True

In [28]:
a.isalpha()    # Return True if the string is an alphabetic string, False otherwise.

True

In [29]:
a.isnumeric()    # Return True if the string is a numeric string, False otherwise.

False

In [30]:
a.istitle()      # Return True if the string is a title-cased string, False otherwise.

False

In [31]:
a.isprintable()    # Return True if the string is printable, False otherwise.

True

In [32]:
a = 'this is a full stack batch'

In [6]:
for i in a:
    print(i, end='')

we all are a part of Full Stack

In [35]:
len(a)

26

In [36]:
count=0
for i in a:
    count=count+1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

In [7]:
for i in range(len(a)):
    print(a[-i])

w
k
c
a
t
S

l
l
u
F

f
o

t
r
a
p

a

e
r
a

l
l
a

e

In [8]:
a = 'rahul'
print(len(a))

ch = len(a)-1
print(ch)

while ch >= 0: 
    print(a[ch])    # permutation combition
    ch = ch-1

5
4
l
u
h
a
r

In [43]:
name = 'ineuron'
vowels = 'AaEeIiOoUu'

for i in name:
    if i in vowels:
        print('{} is a vowel'.format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [44]:
'{} name is rahul'.format('my')

'my name is rahul'

In [45]:
'{} name {} sudh'.format('my','is')

'my name is sudh'

In [46]:
a = input()
b = input()

'{} name {} sudh'.format(a,b)

my
is

'my name is sudh'

In [5]:
s = input('enter a data for which you would like to check palindrome: ')
s1=s[::-1]

if s==s1:
    print('\nits same')
else:
    print('\nits not same')

enter a data for which you would like to check palindrome: asa

its same

In [50]:
l = ['rahul',54,54,65,89,[23,42]]

In [51]:
l[3]

65

In [52]:
l[0:4]

['rahul', 54, 54, 65]

In [53]:
l[5:0:-1]

[[23, 42], 89, 65, 54, 54]

In [54]:
l[::-1]

[[23, 42], 89, 65, 54, 54, 'rahul']

In [55]:
l

['rahul', 54, 54, 65, 89, [23, 42]]

In [6]:
l = ['rahul', 54, 54, 65, 89, [23, 42]]

a = ['rahul']

In [7]:
l + a

['rahul', 54, 54, 65, 89, [23, 42], 'rahul']

In [8]:
l

['rahul', 54, 54, 65, 89, [23, 42]]

In [9]:
l * 3

['rahul',
 54,
 54,
 65,
 89,
 [23, 42],
 'rahul',
 54,
 54,
 65,
 89,
 [23, 42],
 'rahul',
 54,
 54,
 65,
 89,
 [23, 42]]

In [10]:
l * 2

['rahul', 54, 54, 65, 89, [23, 42], 'rahul', 54, 54, 65, 89, [23, 42]]

In [75]:
'rahul' in l

True

In [76]:
54 in l

True

In [77]:
654 in l

False

In [80]:
print('my first name is {a} my second name is {b}'.format(b='rahul',a='kb'))

my first name is kb my second name is rahul

In [81]:
10 and 32

32

In [82]:
10 or 32

10

In [12]:
b = 'my name is rahul, my name is kb'
b.find('name')

for i in range(len(b)):
    if b[i]=='n':
        print(i)

3
21

In [97]:
a='rahul kb'
a.partition('a')

('r', 'a', 'hul kb')

# 4th Class Lecture

In [2]:
l = ['rahul',234,42,4242,[34,434,55,'r'],True]

In [3]:
for i in l:
    print(i)

rahul
234
42
4242
[34, 434, 55, 'r']
True

In [4]:
l[0]

'rahul'

In [5]:
l[::-1]

[True, [34, 434, 55, 'r'], 4242, 42, 234, 'rahul']

In [13]:
for i in l:
    if type(i)==list:
        print('this is a list:',i)
    else:
        print('this element is not a list:',i)

this element is not a list: rahul
this element is not a list: 54
this element is not a list: 54
this element is not a list: 65
this element is not a list: 89
this is a list: [23, 42]

In [15]:
l1 = [23,43,'ineuron','tech']

In [16]:
l + l1

['rahul', 54, 54, 65, 89, [23, 42], 23, 43, 'ineuron', 'tech']

In [18]:
l * 2

['rahul', 54, 54, 65, 89, [23, 42], 'rahul', 54, 54, 65, 89, [23, 42]]

In [12]:
len(l)

6

In [13]:
True in l

True

In [14]:
345 in l

False

In [15]:
34 in l

False

In [16]:
42 in l

True

In [19]:
print(max([1,2,3,4]))

4

In [19]:
max([234,434,989])

989

In [20]:
max(['rahul','zebra','umbrellaz','AI'])  # ASCII Table for max and min

'zebra'

In [35]:
min(['sajdh','ada','a','432','323','##'])  # ASCII Table for max and min

'##'

In [27]:
min([1,2,3,4,0])

0

In [10]:
l = [1,2,3,4]
l.append('rahul')
l

[1, 2, 3, 4, 'rahul']

In [23]:
l.append([1,2,3,4,'rahul'])
l

[1, 2, 3, 4, 'rahul', [1, 2, 3, 4, 'rahul']]

In [24]:
l.insert(3,'ineuron')  # Insert object before index.
l

[1, 2, 3, 'ineuron', 4, 'rahul', [1, 2, 3, 4, 'rahul']]

In [11]:
l.insert(-1,'test')  # Insert object before index.
l

[1, 2, 3, 4, 'test', 'rahul']

In [12]:
l.insert(-1,'test2')
l

[1, 2, 3, 4, 'test', 'test2', 'rahul']

In [30]:
l.count('test')

3

In [32]:
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [33]:
l = [1,2,3,4]
l.append([1,2,3,45])
l

[1, 2, 3, 4, [1, 2, 3, 45]]

In [34]:
l.extend('test1')  # Extend list by appending elements from the iterable.
l

[1, 2, 3, 4, [1, 2, 3, 45], 't', 'e', 's', 't', '1']

In [35]:
s = 'test'
list(s)

['t', 'e', 's', 't']

In [14]:
l = [1,2,3,4,'test']
l.extend("test")       # Extend list by appending elements from the iterable.
l

[1, 2, 3, 4, 'test', 't', 'e', 's', 't']

In [15]:
l.append([1,221,31])
l

[1, 2, 3, 4, 'test', 't', 'e', 's', 't', [1, 221, 31]]

In [16]:
l.index(3)

2

In [17]:
l.index(2,0,9)  # index(value, start=0, stop=9223372036854775807, /)

1

In [18]:
l.pop(-1)  # pop(index=-1, /) Remove and return item at index (default last).

[1, 221, 31]

In [45]:
l=[1,2,3,4,5,6]
l.pop()

6

In [46]:
l.pop(0)

1

In [47]:
l        # It stores elements after it is poped

[2, 3, 4, 5]

In [48]:
l = [4,5,6,6,7,7,7,7,8,9]
l.remove(6)               # Remove first occurrence of value.
l

[4, 5, 6, 7, 7, 7, 7, 8, 9]

In [49]:
l.reverse()
l

[9, 8, 7, 7, 7, 7, 6, 5, 4]

In [50]:
l.sort()   # Sort the list in ascending order and return None.
l

[4, 5, 6, 7, 7, 7, 7, 8, 9]

In [51]:
l=[2,3,13,23.23,3, 67]
l.sort()
l

[2, 3, 3, 13, 23.23, 67]

In [1]:
# l = [[],[],[],_,_]
# 1) append 2 more list and one complex number in this list in between existing list
# 2) if your nested list contain string then find out its index in nested list and print it. Then remove the string.
# 3) you have to extract 2nd element of each nexted list.

In [81]:
#Q1

l = [ [12,12], ['rahul', 23, 32, 41], [3+5j, 'eric'], [1, 2, 3, 'r','b','r','b'], 'raraar']

c= [1+2j,3+5j]

l.insert(1,c)
print(f'Updated list: {l}')

print()
print()

#Q2
# If your nested list contain string then find out its index in nested list and print it. Then remove the string.

for i in l:
    if type(i)==list:
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                print("The Index of the string {} is:".format(i[j]),j)
            j += 1
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                print('The string in the nested list is: {}'.format(i[j]))
                i.remove(i[j])
                continue
            j += 1
                       
print('\nThe new list is ',l)
                      

#Q3
# you have to extract 2nd element of each nested list.

for i in l:
    print('\n',i)
    if type(i)==list and len(i)>1:
            print('The second element of each nested list is: ',i[1])

Updated list: [[12, 12], [(1+2j), (3+5j)], ['rahul', 23, 32, 41], [(3+5j), 'eric'], [1, 2, 3, 'r', 'b', 'r', 'b'], 'raraar']


The Index of the string rahul is: 0
The string in the nested list is: rahul
The Index of the string eric is: 1
The string in the nested list is: eric
The Index of the string r is: 3
The Index of the string b is: 4
The Index of the string r is: 5
The Index of the string b is: 6
The string in the nested list is: r
The string in the nested list is: b
The string in the nested list is: r
The string in the nested list is: b

The new list is  [[12, 12], [(1+2j), (3+5j)], [23, 32, 41], [(3+5j)], [1, 2, 3], 'raraar']

 [12, 12]
The second element of each nested list is:  12

 [(1+2j), (3+5j)]
The second element of each nested list is:  (3+5j)

 [23, 32, 41]
The second element of each nested list is:  32

 [(3+5j)]

 [1, 2, 3]
The second element of each nested list is:  2

 raraar

In [83]:
#Q3) you have to extract 2nd element of each nested list

l = [ [12,12], ['rahul', 23, 32, 41], [3+5j, 'eric'], [1, 2, 3, 'r','b','r','b'], 'raraar']

for i in l:
    print('\n',i)
    if type(i)==list and len(i)>1:
            print('The second element of each nested list is: ',i[1])

 [12, 12]
The second element of each nested list is:  12

 ['rahul', 23, 32, 41]
The second element of each nested list is:  23

 [(3+5j), 'eric']
The second element of each nested list is:  eric

 [1, 2, 3, 'r', 'b', 'r', 'b']
The second element of each nested list is:  2

 raraar

In [24]:
for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print('Index of string {} is :'.format(i[j]),j)
            j=j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print('the string in the nested list: {}'.format(i[j]))
                i.remove(i[j])
                continue
            j=j+1
print('list after removal of string from nested list is \r',l,'\n')

Index of string rahul is : 0
the string in the nested list: rahul
Index of string eric is : 1
the string in the nested list: eric
Index of string r is : 3
Index of string b is : 4
the string in the nested list: r
the string in the nested list: b
 [[12], [(1+2j), (3+5j)], [23, 32, 41], [(3+5j)], [1, 2, 3], 'raraar']

In [56]:
l=[]
for i in range(2):
    l.append(int(input()))
print(l)

54
54
[54, 54]

In [11]:
list(input())

6

['6']

In [14]:
l1= []
for i in 'rahul':
    l1.append(i)
    
l1

['r', 'a', 'h', 'u', 'l']

List comprehension

In [17]:
[i for i in 'rahul']     # List comprehension

['r', 'a', 'h', 'u', 'l']

In [18]:
[[i] for i in 'rahul']   # List comprehension

[['r'], ['a'], ['h'], ['u'], ['l']]

In [20]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)

In [21]:
l

[0, 2, 4, 6, 8]

In [22]:
5 % 2 #remainder is the answer

1

In [23]:
8 % 4

0

In [16]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)
        
print(l)

[0, 2, 4, 6, 8]

In [27]:
[i for i in range(10) if i %2==0]            #This method is called as list comprehension

[0, 2, 4, 6, 8]

In [17]:
l=[]
for i in range(10):
    if i % 2 !=0:
        l.append('odd')
    else:
        l.append('even')
        
print(l)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [33]:
['odd' if i%2 !=0 else 'even' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [39]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [40]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [43]:
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [46]:
l=[]
for i in range(8):
    if i%2==0:
        if i%3==0:
            l.append(i)
l

[0, 6]

In [49]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
['yes' if i==1 else 'no' if i==2 else 'test' for i in range(10)]   #Comprehension code

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [20]:
res=[]
for i in range(10):
    if i==1:
        res.append('yes')
    elif i==2:
        res.append('no')
    else:
        res.append('test')
res

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [21]:
for i in range(len([1,2,3,4])):
    print(i)

0
1
2
3

In [56]:
l=['sd','ada','xsaxs']
print(max(l))
l

xsaxs

['sd', 'ada', 'xsaxs']

In [ ]:
%%time
l=[[1,2,3],[11,12,'b','b','b'],[21,'t',223,'rahul'],[4,5,6],[7,8,9],'demo',12.5]

for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print('Index of string {} is :'.format(i[j]),j)
                print('The string in the nested list is: {} \n'.format(i[j]))
                #j += 1
                i.remove(i[j])
                continue
            j=j+1
#i.remove(i[j])
print('list after removal of string from nested list is \r',l,'\n')

In [24]:
%%time
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9
Wall time: 0 ns

In [14]:
x = ['a','b','c']         #for 1st does iteration

for i in x:
    print(i)
    x.remove(i)

a
c

In [13]:
str1='rahul'
list(enumerate(str1))

[(0, 'r'), (1, 'a'), (2, 'h'), (3, 'u'), (4, 'l')]

# 5th Lecture

In [3]:
t = ()

In [4]:
type(t) #Bracket used is()

tuple

In [5]:
l = []
type(l)

list

In [2]:
t1 = (234,232,'rahul',3.45,True)

In [6]:
l1 = [234,232,'rahul',3.45,True]

In [7]:
t1[0]

234

In [8]:
t1[::]

(234, 232, 'rahul', 3.45, True)

In [9]:
t1[::-1]

(True, 3.45, 'rahul', 232, 234)

In [8]:
t1[-1]

True

In [5]:
t1[0] == 'rahul' # Tuple is immutable entity 
                 # list is mutable entity Major difference.

False

In [12]:
t2 = (234,54,565)

In [13]:
t1+t2

(234, 232, 'rahul', 3.45, True, 234, 54, 565)

In [14]:
t1 * 2

(234, 232, 'rahul', 3.45, True, 234, 232, 'rahul', 3.45, True)

In [21]:
t1

(234, 232, 'rahul', 3.45, True)

In [22]:
34 in t1

False

In [23]:
234 in t1

True

In [24]:
'sffg' in t1

False

In [25]:
t1

(234, 232, 'rahul', 3.45, True)

In [19]:
t3 = (23,43,535,34)
print(max(t3))
print(min(t3))

535
23

In [21]:
t4=('rahul','erer','reddd')
max(t4)
min(t4)

'erer'

In [39]:
t1.index(234)

0

In [17]:
t1.count(34)  # Return number of occurrences of value

0

In [20]:
t1=(234, 232, 'rahul', 3.45,34,34,34,34,3434,34,34,True)
t1

(234, 232, 'rahul', 3.45, 34, 34, 34, 34, 3434, 34, 34, True)

In [24]:
t5=(34,53)

In [25]:
t1+t5

(234, 232, 'rahul', 3.45, 34, 34, 34, 34, 3434, 34, 34, True, 34, 53)

In [43]:
t6=56

In [26]:
l5=list(t1)

In [27]:
l5

[234, 232, 'rahul', 3.45, 34, 34, 34, 34, 3434, 34, 34, True]

In [28]:
l5.insert(3,56)
l5

[234, 232, 'rahul', 56, 3.45, 34, 34, 34, 34, 3434, 34, 34, True]

In [29]:
tuple(l5)

(234, 232, 'rahul', 56, 3.45, 34, 34, 34, 34, 3434, 34, 34, True)

In [49]:
#When to use Tuple 
#gmail password----------------Application

In [50]:
t=((3,4,5,6,6,7),('rahul',34,45),('45554',45,45,45,4,),54,45,42,[4,5,6,7,8])  # Tuple

In [51]:
t[6]   # Finding Elements inside  Tuple

[4, 5, 6, 7, 8]

In [52]:
type(t[6])      # Finding Elements inside  Tuple

list

In [53]:
t[6][1]        # Finding Elements inside  Tuple

5

In [54]:
t[6][1:3]         # Finding Elements inside  Tuple

[5, 6]

In [55]:
t[6][1:5]           # Finding Elements inside  Tuple

[5, 6, 7, 8]

In [56]:
t[1]               # Finding Elements inside  Tuple

('rahul', 34, 45)

In [57]:
t[1][0]             # Finding Elements inside  Tuple

'rahul'

In [58]:
for i in t:
    print(i)

(3, 4, 5, 6, 6, 7)
('rahul', 34, 45)
('45554', 45, 45, 45, 4)
54
45
42
[4, 5, 6, 7, 8]

In [59]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
rahul
45554

In [38]:
t1 = (234, 232, 'rahul', 3.45, 34, 34, 34, 34, 3434, 34, 34, True)
t2 = (234, 54, 565)

if len(t1)==len(t2):
    print('its same')
else:
    print('not same')

not same

In [34]:
t=(34, 232, 'rahul', 3.45, 34, 34, 34, 34, 3434, 34, 34, True,'kb')
i=input('take user input: ')

if i in t:
    print('yes your name is available')
else:
    print('your name is not available')

take user input: rahul
yes your name is available

In [40]:
t1=34
t1

34

In [6]:
t = (34, 232, 'rahul', 3.45, 34, 34, 34, 34, 3434, 34, 34, True,'kb')

del(t)

## SETS

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [61]:
x=set() #SETS

In [77]:
type(x)

set

In [91]:
l = [34,23,54,34,34,45,45,45,78,'rahul','rahul','rahul','Rahul',45,453553554,43534,5435]

In [64]:
s={23, 34, 43534, 45, 453553554, 54, 5435, 78, 'Rahul', 'rahul'}

In [92]:
s = set(l)   # set is collection which will give distinct element in a collection 
             # Build an unordered collection of unique elements.

In [56]:
s={23, 34, 43534, 45, 453553554, 54, 5435, 78, 'Rahul', 'rahul'}
for i in s:
    print(i)

34
45
43534
78
rahul
453553554
54
23
Rahul
5435

In [57]:
34 in s

True

In [96]:
s=set()
s

set()

In [66]:
s.add(45)

In [67]:
s

{23, 34, 43534, 45, 453553554, 54, 5435, 78, 'Rahul', 'rahul'}

In [68]:
s.add('rahul')

In [69]:
s.add('kb')

In [73]:
s.add((3242,454))

In [74]:
s

{(3242, 454),
 23,
 34,
 43534,
 45,
 453553554,
 54,
 5435,
 78,
 'Rahul',
 'kb',
 'rahul'}

In [75]:
s.remove(45)

In [76]:
s

{(3242, 454), 23, 34, 43534, 453553554, 54, 5435, 78, 'Rahul', 'kb', 'rahul'}

In [77]:
45 in s

False

In [78]:
s.clear()

In [79]:
s

set()

In [84]:
s.add('sdad')

In [85]:
s.add('rahul')

In [86]:
s.add(34)

In [87]:
s.add(445)

In [88]:
s

{34, 445, 'rahul', 'sdad'}

In [89]:
s

{34, 445, 'rahul', 'sdad'}

In [90]:
l4=list(s)

In [91]:
l4.append(34)

In [92]:
l4

['sdad', 34, 445, 'rahul', 34]

In [136]:
tuple(s)

('rahul', 34, 445, 'sdad')

In [137]:
t4=tuple(s)

In [138]:
set(t4)

{34, 445, 'rahul', 'sdad'}

In [143]:
#list-

#Tuple-

#set

#dictionary

In [94]:
x = {}    # python recognises this as dictionary

type(x)

dict

In [93]:
x1 = {34,34} 

type(x1)    #python recognises this as set

set

In [148]:
# Key value wise arrangement

In [7]:
x={'name':'rahul','age':3434}  # {Key:Value},{Key:Value} Index are called key. This type of data is dictionary

In [153]:
type(x)

dict

In [154]:
x

{'name': 'rahul', 'age': 3434}

In [95]:
x1 = {'name':'rahul','age':3434,'name':'dsfddd',True:'fdsf','key':False,3424:4545}
x1

{'name': 'dsfddd', 'age': 3434, True: 'fdsf', 'key': False, 3424: 4545}

In [156]:
x1        # when you store data with same key it will update data with 2nd value

{'name': 'dsfddd', 'age': 3434, True: 'fdsf', 'key': False, 3424: 4545}

In [96]:
x1={'name':'rahul', 'age':3434, 'name':'dsfddd', True:'fdsf', 'key':False, 3424:4545, 3434:432}

In [97]:
x1={'name':'rahul','age':3434,'name':'dsfddd',True:'fdsf','key':False,3424:4545,'adda':'rahul'}
x1

{'name': 'dsfddd',
 'age': 3434,
 True: 'fdsf',
 'key': False,
 3424: 4545,
 'adda': 'rahul'}

In [171]:
x2={'nam':{'k1':'wer','k4':[334,432,342]},'age':3434,'name':'dsfddd',True:{3442,342},'key':False,3424:4545}

In [172]:
x2

{'nam': {'k1': 'wer', 'k4': [334, 432, 342]},
 'age': 3434,
 'name': 'dsfddd',
 True: {342, 3442},
 'key': False,
 3424: 4545}

In [12]:
x4 = {(231):{('k1','h1'):'wer','k4':[334,432,342]}, 'age':3434, 'name':'dsfddd', True:{3442,342}, 'key':False, 3424:4545}

# tuples as key is allowed ()
# list as key is not allowed []
# set as a key is not allowed {}

In [13]:
x4

{231: {('k1', 'h1'): 'wer', 'k4': [334, 432, 342]},
 'age': 3434,
 'name': 'dsfddd',
 True: {342, 3442},
 'key': False,
 3424: 4545}

In [108]:
l = [34,34,343534,56]
l[2]

343534

In [110]:
x4['name']

'dsfddd'

In [112]:
x4[3424]

4545

In [123]:
x4[231]

{'k1': 'wer', 'k4': [334, 432, 342]}

In [128]:
x3 = {231: {'k1': 'wer', 'k4': [334, 432, 342]},
 'age': 3434,
 'name': 'dsfddd',
 True: {342, 3442},
 'key': False,
 3424: 4545}

In [129]:
x3[True]='rahul'      # dictionary is mutable object
x3

{231: {'k1': 'wer', 'k4': [334, 432, 342]},
 'age': 3434,
 'name': 'dsfddd',
 True: 'rahul',
 'key': False,
 3424: 4545}

In [184]:
x3['age']=x3['age']-10

In [185]:
x3

{231: {'k1': 'wer', 'k4': [334, 432, 342]},
 'age': 3424,
 'name': 'dsfddd',
 True: 'rahul',
 'key': False,
 3424: 4545}

In [186]:
x3.keys()

dict_keys([231, 'age', 'name', True, 'key', 3424])

In [187]:
'k4' in x3.keys()

False

In [130]:
for i in x3.keys():  # it is giving me keys
    print(x3[i])

{'k1': 'wer', 'k4': [334, 432, 342]}
3434
dsfddd
rahul
False
4545

In [191]:
x2.keys()

dict_keys(['nam', 'age', 'name', True, 'key', 3424])

In [194]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'str'>
<class 'set'>
<class 'bool'>
<class 'int'>

In [195]:
x2.items()  #items returns dictionary elements in tuples

dict_items([('nam', {'k1': 'wer', 'k4': [334, 432, 342]}), ('age', 3434), ('name', 'dsfddd'), (True, {3442, 342}), ('key', False), (3424, 4545)])

In [198]:
for i in x2.items():    #tuples
    print(i[0])
    print(i[1])

nam
{'k1': 'wer', 'k4': [334, 432, 342]}
age
3434
name
dsfddd
True
{3442, 342}
key
False
3424
4545

In [131]:
x5={(34,54,45):'dsadads'}

In [132]:
x5[(34,54,45)]

'dsadads'

In [133]:
x5.items()   # a set-like object providing a view on D's items   Type: builtin_function_or_method

dict_items([((34, 54, 45), 'dsadads')])

In [134]:
len(x5)

1

In [75]:
#1)take input as a paragraph by using input function

data = input('insert the input')


#a.convert all of this input into list of words.

a = data.split()
print('\n',a)


#b.remove all the duplicate element from your list.

res = []
for i in a:
    if i not in res:
        res.append(i)
        
print ("\nThe list after removing duplicates : " + str(res))


#c.use above distinct elements as a key for dictionary and assign your name as a value of all the key for dictionary.


name_dictionary =  dict.fromkeys(res, 'rahul')
print('\n',name_dictionary)
print('\n')
    

#d.Try to print tuple of all the values.

for v in name_dictionary.values():
    print(v, end= ' ')

#e.try to print list of all the keys.

keys = list(name_dictionary.keys())
print('\n\n',keys)

insert the inputA computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations automatically. Modern computers can perform generic sets of operations known as programs. These programs enable computers to perform a wide range of tasks. A computer system is a "complete" computer that includes the hardware, operating system (main software), and peripheral equipment needed and used for "full" operation. This term may also refer to a group of computers that are linked and function together, such as a computer network or computer cluster.  A broad range of industrial and consumer products use computers as control systems. Simple special-purpose devices like microwave ovens and remote controls are included, as are factory devices like industrial robots and computer-aided design, as well as general-purpose devices like personal computers and mobile devices like smartphones. Computers power the Internet, which links hundreds of millions of other computers and users.

 ['A', 'computer', 'is', 'a', 'machine', 'that', 'can', 'be', 'programmed', 'to', 'carry', 'out', 'sequences', 'of', 'arithmetic', 'or', 'logical', 'operations', 'automatically.', 'Modern', 'computers', 'can', 'perform', 'generic', 'sets', 'of', 'operations', 'known', 'as', 'programs.', 'These', 'programs', 'enable', 'computers', 'to', 'perform', 'a', 'wide', 'range', 'of', 'tasks.', 'A', 'computer', 'system', 'is', 'a', '"complete"', 'computer', 'that', 'includes', 'the', 'hardware,', 'operating', 'system', '(main', 'software),', 'and', 'peripheral', 'equipment', 'needed', 'and', 'used', 'for', '"full"', 'operation.', 'This', 'term', 'may', 'also', 'refer', 'to', 'a', 'group', 'of', 'computers', 'that', 'are', 'linked', 'and', 'function', 'together,', 'such', 'as', 'a', 'computer', 'network', 'or', 'computer', 'cluster.', 'A', 'broad', 'range', 'of', 'industrial', 'and', 'consumer', 'products', 'use', 'computers', 'as', 'control', 'systems.', 'Simple', 'special-purpose', 'devices', 'like', 'microwave', 'ovens', 'and', 'remote', 'controls', 'are', 'included,', 'as', 'are', 'factory', 'devices', 'like', 'industrial', 'robots', 'and', 'computer-aided', 'design,', 'as', 'well', 'as', 'general-purpose', 'devices', 'like', 'personal', 'computers', 'and', 'mobile', 'devices', 'like', 'smartphones.', 'Computers', 'power', 'the', 'Internet,', 'which', 'links', 'hundreds', 'of', 'millions', 'of', 'other', 'computers', 'and', 'users.']

The list after removing duplicates : ['A', 'computer', 'is', 'a', 'machine', 'that', 'can', 'be', 'programmed', 'to', 'carry', 'out', 'sequences', 'of', 'arithmetic', 'or', 'logical', 'operations', 'automatically.', 'Modern', 'computers', 'perform', 'generic', 'sets', 'known', 'as', 'programs.', 'These', 'programs', 'enable', 'wide', 'range', 'tasks.', 'system', '"complete"', 'includes', 'the', 'hardware,', 'operating', '(main', 'software),', 'and', 'peripheral', 'equipment', 'needed', 'used', 'for', '"full"', 'operation.', 'This', 'term', 'may', 'also', 'refer', 'group', 'are', 'linked', 'function', 'together,', 'such', 'network', 'cluster.', 'broad', 'industrial', 'consumer', 'products', 'use', 'control', 'systems.', 'Simple', 'special-purpose', 'devices', 'like', 'microwave', 'ovens', 'remote', 'controls', 'included,', 'factory', 'robots', 'computer-aided', 'design,', 'well', 'general-purpose', 'personal', 'mobile', 'smartphones.', 'Computers', 'power', 'Internet,', 'which', 'links', 'hundreds', 'millions', 'other', 'users.']

 {'A': 'rahul', 'computer': 'rahul', 'is': 'rahul', 'a': 'rahul', 'machine': 'rahul', 'that': 'rahul', 'can': 'rahul', 'be': 'rahul', 'programmed': 'rahul', 'to': 'rahul', 'carry': 'rahul', 'out': 'rahul', 'sequences': 'rahul', 'of': 'rahul', 'arithmetic': 'rahul', 'or': 'rahul', 'logical': 'rahul', 'operations': 'rahul', 'automatically.': 'rahul', 'Modern': 'rahul', 'computers': 'rahul', 'perform': 'rahul', 'generic': 'rahul', 'sets': 'rahul', 'known': 'rahul', 'as': 'rahul', 'programs.': 'rahul', 'These': 'rahul', 'programs': 'rahul', 'enable': 'rahul', 'wide': 'rahul', 'range': 'rahul', 'tasks.': 'rahul', 'system': 'rahul', '"complete"': 'rahul', 'includes': 'rahul', 'the': 'rahul', 'hardware,': 'rahul', 'operating': 'rahul', '(main': 'rahul', 'software),': 'rahul', 'and': 'rahul', 'peripheral': 'rahul', 'equipment': 'rahul', 'needed': 'rahul', 'used': 'rahul', 'for': 'rahul', '"full"': 'rahul', 'operation.': 'rahul', 'This': 'rahul', 'term': 'rahul', 'may': 'rahul', 'also': 'rahul', 'refer': 'rahul', 'group': 'rahul', 'are': 'rahul', 'linked': 'rahul', 'function': 'rahul', 'together,': 'rahul', 'such': 'rahul', 'network': 'rahul', 'cluster.': 'rahul', 'broad': 'rahul', 'industrial': 'rahul', 'consumer': 'rahul', 'products': 'rahul', 'use': 'rahul', 'control': 'rahul', 'systems.': 'rahul', 'Simple': 'rahul', 'special-purpose': 'rahul', 'devices': 'rahul', 'like': 'rahul', 'microwave': 'rahul', 'ovens': 'rahul', 'remote': 'rahul', 'controls': 'rahul', 'included,': 'rahul', 'factory': 'rahul', 'robots': 'rahul', 'computer-aided': 'rahul', 'design,': 'rahul', 'well': 'rahul', 'general-purpose': 'rahul', 'personal': 'rahul', 'mobile': 'rahul', 'smartphones.': 'rahul', 'Computers': 'rahul', 'power': 'rahul', 'Internet,': 'rahul', 'which': 'rahul', 'links': 'rahul', 'hundreds': 'rahul', 'millions': 'rahul', 'other': 'rahul', 'users.': 'rahul'}


rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul rahul

 ['A', 'computer', 'is', 'a', 'machine', 'that', 'can', 'be', 'programmed', 'to', 'carry', 'out', 'sequences', 'of', 'arithmetic', 'or', 'logical', 'operations', 'automatically.', 'Modern', 'computers', 'perform', 'generic', 'sets', 'known', 'as', 'programs.', 'These', 'programs', 'enable', 'wide', 'range', 'tasks.', 'system', '"complete"', 'includes', 'the', 'hardware,', 'operating', '(main', 'software),', 'and', 'peripheral', 'equipment', 'needed', 'used', 'for', '"full"', 'operation.', 'This', 'term', 'may', 'also', 'refer', 'group', 'are', 'linked', 'function', 'together,', 'such', 'network', 'cluster.', 'broad', 'industrial', 'consumer', 'products', 'use', 'control', 'systems.', 'Simple', 'special-purpose', 'devices', 'like', 'microwave', 'ovens', 'remote', 'controls', 'included,', 'factory', 'robots', 'computer-aided', 'design,', 'well', 'general-purpose', 'personal', 'mobile', 'smartphones.', 'Computers', 'power', 'Internet,', 'which', 'links', 'hundreds', 'millions', 'other', 'users.']

In [1]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="akshat"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))


    
# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)

Enter the paragraph-->> A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations automatically. Modern computers can perform generic sets of operations known as programs. These programs enable computers to perform a wide range of tasks. A computer system is a "complete" computer that includes the hardware, operating system (main software), and peripheral equipment needed and used for "full" operation. This term may also refer to a group of computers that are linked and function together, such as a computer network or computer cluster.
Tuple List-->>  ('akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat', 'akshat')
List Keys-->>  ['refer', 'programs', 'includes', 'be', 'software),', 'peripheral', 'together,', 'logical', 'may', 'range', 'operation.', 'perform', 'for', '(main', 'the', 'computer', 'computers', 'used', 'Modern', 'This', 'group', 'These', 'operating', 'also', 'and', 'linked', 'such', 'can', 'to', 'enable', 'sequences', 'machine', 'that', 'known', 'wide', 'system', 'needed', 'programs.', 'out', 'carry', 'is', '"full"', 'network', 'term', 'as', 'operations', 'automatically.', 'tasks.', 'sets', 'are', 'A', 'of', 'programmed', '"complete"', 'or', 'cluster.', 'generic', 'hardware,', 'function', 'equipment', 'arithmetic', 'a']

In [2]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para:A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations automatically. Modern computers can perform generic sets of operations known as programs. These programs enable computers to perform a wide range of tasks. A computer system is a "complete" computer that includes the hardware, operating system (main software), and peripheral equipment needed and used for "full" operation. This term may also refer to a group of computers that are linked and function together, such as a computer network or computer cluster.

In [3]:
d={'company':'ineuron',"course":"full stack data science",'year':2021}

In [89]:
for i in d:
    print('print a key','i',  ' value wise  :', d[i])

print a key i  value wise  : ineuron
print a key i  value wise  : full stack data science
print a key i  value wise  : 2021

In [215]:
'course' in d

True

In [218]:
for i in d:
    if i=='year':
        if d[i]>2021:
            print('year is fine')
        else:
            d[i]=2022

year is fine

In [219]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [220]:
my_dict={}
for i in range(10):
    my_dict[i]=i*i

In [221]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [223]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}

# 6th Lecture

In [2]:
#6the Lecture -Functions   #def(fn_name)(_,_)

In [4]:
a=1
b=2
a+b

3

In [5]:
a=10
b=20
a+b

30

In [82]:
def test(x,y):
    return x+y
     

a = test(2,3)
print(a)

5

In [84]:
test(23,45)

68

In [4]:
def test1(b,m):
    return b * m

In [5]:
test1(5,89)

445

In [6]:
test1(5,89)+6

451

In [7]:
type(test1(5,89))

int

In [26]:
a=test1(5,89)

In [27]:
a

445

In [28]:
type(a)

int

In [29]:
def test2(t,n,m):
    return t+n

In [31]:
test2(2,3,4)

5

In [8]:
def test3(n,m):
    return n*10,m*40,m+n

In [34]:
test3(2,7)

(20, 280, 9)

In [36]:
type(test3(2,7))

tuple

In [37]:
c,x,v=test3(2,7)

In [38]:
c

20

In [39]:
x

280

In [40]:
v

9

In [41]:
c,x,_=test3(2,7)

In [42]:
c

20

In [43]:
x

280

In [44]:
_

280

In [9]:
c,x,_=test3(2,7)

In [46]:
c,_,m=test3(2,7)

In [47]:
c

20

In [48]:
_

280

In [49]:
m

9

In [55]:
_,_,m=test3(2,7)     #it will give value of last placeholder

In [56]:
_

280

In [57]:
_

280

_

In [54]:
c

20

In [58]:
def test():
    print('this is my first function')

In [59]:
m=test()

this is my first function

In [60]:
m + 'fwwfw'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
def test7():
    return 'this is my first function'

In [12]:
n = test7()

In [14]:
n + ' wshffdfgfs'

'this is my first function wshffdfgfs'

In [64]:
def test8(n):
    return n*2

In [65]:
test8([3,4,5,6,7])

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [66]:
test8(67)

134

In [15]:
def test9(n):
    return n,n*2

In [16]:
b = test9([4,5,6,6,7])

In [17]:
b

([4, 5, 6, 6, 7], [4, 5, 6, 6, 7, 4, 5, 6, 6, 7])

In [73]:
b[0]

[4, 5, 6, 6, 7]

In [74]:
b[1]

[4, 5, 6, 6, 7, 4, 5, 6, 6, 7]

In [78]:
def test10(n,m=90):
    return n+m

In [80]:
test10(60)

150

In [81]:
test10(60,30)

90

In [83]:
print()

In [84]:
def boolx(x=True,y=False):
    return x+y

In [85]:
boolx()

1

In [86]:
boolx(False)

0

In [88]:
boolx(False,8)

8

In [89]:
True+False

1

In [90]:
def travel(bike=True,car=False):
    plan_travel=bike or car
    return bike,car,plan_travel

In [91]:
travel()

(True, False, True)

In [92]:
travel(False)

(False, False, False)

In [93]:
travel(car=True)

(True, True, True)

In [94]:
travel(_,True)

(280, True, 280)

In [4]:
def test11(*args):
    return args

In [5]:
test11('rahulrahul','kbkbkb',34,[34,1,3,2,3,4,5])

('rahulrahul', 'kbkbkb', 34, [34, 1, 3, 2, 3, 4, 5])

In [8]:
def test12(a, b, c):
    return a+b+c

In [9]:
test12([1,2,3,4],[4,5,6,4],[2,56,74])

[1, 2, 3, 4, 4, 5, 6, 4, 2, 56, 74]

In [20]:
def test13(*args):
    l=[]
    for i in args:
       l.append(i)
    return l

In [11]:
test13([3,423,32,34,],[2,4,2,1],[3,4,1,5])

[[3, 423, 32, 34], [2, 4, 2, 1], [3, 4, 1, 5]]

In [18]:
def test13(*args):
    l=[]
    for i in args:
        l = l+i
    return l

In [19]:
test13([3,423,32,34,],[2,4,2,1],[3,4,1,5])

[3, 423, 32, 34, 2, 4, 2, 1, 3, 4, 1, 5]

In [14]:
test13([23],[6,73,23])

[23, 6, 73, 23]

In [20]:
def test14(*args):
    return[i for i in args]

In [21]:
test14([3,423,32,34,],[2,4,2,1],[3,4,1,5])

[[3, 423, 32, 34], [2, 4, 2, 1], [3, 4, 1, 5]]

In [21]:
test13('rahdak',234,[3,4,5,6,7,8],[4,3,1,4,2,1])

['rahdak', 234, [3, 4, 5, 6, 7, 8], [4, 3, 1, 4, 2, 1]]

In [25]:
def test15(*args):
    l=[]
    for i in args:
        if type(i)==list:
            
             l= l+i
    return l

In [26]:
test15('rahdak',234,[3,4,5,6,7,8],[4,3,1,4,2,1])

[3, 4, 5, 6, 7, 8, 4, 3, 1, 4, 2, 1]

In [22]:
def test16(**kwargs):
    return kwargs

In [28]:
test16(4,2,3)

TypeError: test16() takes 0 positional arguments but 3 were given

In [23]:
test16(a=8, b=True, c=[4,5,2,5,'rahul'], d=32)

{'a': 8, 'b': True, 'c': [4, 5, 2, 5, 'rahul'], 'd': 32}

In [27]:
test16( a = {'a': 8, 'b': 8, 'c': 78, 'd': 32})

{'a': {'a': 8, 'b': 8, 'c': 78, 'd': 32}}

In [33]:
def test17(*args):
    return args

In [34]:
test17(4,5,2,2,'rahul',[4,3,2,2,4])

(4, 5, 2, 2, 'rahul', [4, 3, 2, 2, 4])

In [28]:
#1)Create a function to take any number of a mixed data and try to create a list of seperate data based on datatype

def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
    return a,b,c,d,e,f,g

 


#2)Create a function which will be able to use *args and **kwargs and it will be able to do all the list value concatenation 
#and return a list


def fun2(*args,**kwargs):
    l=[i for i in args]
    d=[i for i in kwargs]
    return l,d

In [30]:
fun1('rahdak',234,[3,4,5,6,7,8],[4,3,1,4,2,1],True,2,3,4,5,2,1,1)

([234, 2, 3, 4, 5, 2, 1, 1],
 [],
 ['rahdak'],
 [],
 [[3, 4, 5, 6, 7, 8], [4, 3, 1, 4, 2, 1]],
 [],
 [True])

In [31]:
def test19(*args,**kwargs): #question 2
    l=[i for i in args if type(i)==list]
    d=[i[1] for i in kwargs.items() if type(i[1])==list]
    return l,d

In [32]:
test19('rahdak',234,[3,4,5,6,7,8],[4,3,1,4,2,1],True,a=5,b='rahul',m=[4,5,3,2])

([[3, 4, 5, 6, 7, 8], [4, 3, 1, 4, 2, 1]], [[4, 5, 3, 2]])

In [16]:
def test18(**kwargs):
    for i in kwargs.items():
        print(i)
    return kwargs

In [17]:
test18(a=[1,2,3,4,5,5], b=4, c=2, d=43, e='rahul', f=[2,3,2,4])

('a', [1, 2, 3, 4, 5, 5])
('b', 4)
('c', 2)
('d', 43)
('e', 'rahul')
('f', [2, 3, 2, 4])

{'a': [1, 2, 3, 4, 5, 5],
 'b': 4,
 'c': 2,
 'd': 43,
 'e': 'rahul',
 'f': [2, 3, 2, 4]}

In [33]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])== list :
            if "sudh" in i[1] :
                print("i am able to find your name in input data ")
                print(i[1])
    return kwargs

In [34]:
test18(b =6 , c = [4,5,6,7] , d = ["sudh" , "kumar " , 5.67], n = 6 + 7j)

i am able to find your name in input data
['sudh', 'kumar ', 5.67]

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar ', 5.67], 'n': (6+7j)}

In [37]:
st = { 'a':[1,2,3,4,5,5], 'b':4, 'c':2, 'd':43, 'e':'rahul', 'f':[2,3,2,4]}
st.items()

dict_items([('a', [1, 2, 3, 4, 5, 5]), ('b', 4), ('c', 2), ('d', 43), ('e', 'rahul'), ('f', [2, 3, 2, 4])])

In [30]:
def func1(*args):
    dt={}
    k=int
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt

func1(1,2,3,[5,6,7],'hi','io',6+6j,6+5j)

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+6j), (6+5j)]}

In [31]:
def con_list(*args):
    a=[]
    [[a.append(j) for j in i for i in args]
    print(a)

# 7th Lecture

In [8]:
def test(**kwargs):
    print(kwargs.item())

In [40]:
def test(**kwargs):
    print('this is my args element')

In [41]:
test(x='rahul', y=56, z=[3,4,5,6])

this is my args element

In [13]:
#Lamda Function

In [24]:
def test(name, mail_id):
    con= name + mail_id
    return mail_id, name

In [25]:
test('rahul','rahul@gmail.com')

('rahul@gmail.com', 'rahul')

In [22]:
a=10
b=20

def test1(x,y):
    return x+y

In [23]:
test1(a,b)

30

In [26]:
m=lambda x,y: x+y

In [27]:
m(a,b)

30

In [28]:
m('rahul','rahul@gmail.com')

'rahulrahul@gmail.com'

In [2]:
b='rahul'
c='test'
n= lambda arg1, arg2: print(arg1,arg2)

In [3]:
n(b,c)

rahul test

In [7]:
r= 10             #Global r
def test3(a,b):
    r=a/b         #Local r
    print(r)

In [8]:
test3(10,10)

1.0

In [49]:
def test4(a,b):
    """
    test4()
    a=this is going to do this
    b=is going to do that
    this is my test function with help of this function you will be able to learn a basic of fun
    
    """                        #Docstring
    
    return a+b

In [50]:
test4(30,20)

50

In [17]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
help(test4)

Help on function test4 in module __main__:

test4(a, b)
    test4()
    a=this is going to do this
    b=is going to do that
    this is my test function with help of this function you will be able to learn a basic of fun

In [51]:
a=10

In [53]:
for i in range(a):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
#iterator=is a kind of a object or entity out of which i will be able to extract a data
#iterable=if objects is iterable it means that you will be able to convert your object into iterator.str is iterable 
#          but not not a iterator.

#generator=

In [23]:
for i in 'rahul':
    print(i)

r
a
h
u
l

In [25]:
s='rahul'
next(s)

TypeError: 'str' object is not an iterator

In [28]:
s=iter(s)

In [29]:
next(s)

'r'

In [32]:
next(s)

'a'

In [33]:
next(s)

'h'

In [30]:
a=10
next(a)

TypeError: 'int' object is not an iterator

In [31]:
iter(a)

TypeError: 'int' object is not iterable

In [1]:
s='rahul'

In [2]:
next(s)

TypeError: 'str' object is not an iterator

In [3]:
s=iter(s)

In [4]:
next(s)

'r'

In [5]:
next(s)

'a'

In [6]:
next(s)

'h'

In [7]:
next(s)

'u'

In [8]:
next(s)

'l'

In [9]:
next(s)

StopIteration:

In [10]:
for i in 'rahul':
    print(i)

r
a
h
u
l

In [11]:
l=[1,2,3,4,5]

In [12]:
next(l)

TypeError: 'list' object is not an iterator

In [13]:
l=iter(l)

In [14]:
next(l)

1

In [15]:
next(l)

2

In [16]:
next(l)

3

In [17]:
next(l)

4

In [18]:
next(l)

5

In [19]:
next(l)

StopIteration:

In [20]:
t=[4,5,6,7]
t=iter(t)

In [21]:
next(t)

4

In [5]:
def test4(n):
    l=[]
    for i in range(n):
        l.append(i**3)
        
    return l

In [6]:
test4(6)

[0, 1, 8, 27, 64, 125]

In [2]:
def test5(n):
    for i in range(n):
        yield i**3

In [3]:
test5(30)

In [4]:
for i in test5(60):
    print(i)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379

In [2]:
range(20)

range(0, 20)

In [1]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
def genfib(n):
    a=1
    b=1
    output=[]
    for i in range(n):
        output.append(a)
        a ,b= b, a+b
    return output

In [6]:
genfib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [57]:
def genfib(n):
    a=1
    b=1
    for i in range(n):
        yield a         # Yield is a keyword in Python that is used to return from a function 
                        # without destroying the states of its local variable and when the function is called, 
                        # the execution starts from the last yield statement. 
                        # Any function that contains a yield keyword is termed a generator.
        a ,b= b, a+b

In [58]:
genfib(6)

In [59]:
for i in genfib(6):
    print(i)

1
1
2
3
5
8